{% extends base %}
{% block myProfileActive %} active open{% endblock myProfileActive %}
{% block adminActive %} active {% endblock adminActive %}
{% block title %} Subscription Details - FindMyDSC {% endblock title %}
{% block container %}
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<ul class="nav nav-pills flex-column flex-md-row mb-3">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'updateProfile' %}"><i class="bx bx-user me-1"></i> Profile
            Details</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'subscriptionDetails' %}"><i class="bx bx-bell me-1"></i> Subscription
            Details</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'updatePassword' %}"><i class="bx bx-bell me-1"></i> Update Password</a>
    </li>
</ul>
<h3 class="fw-bold py-3 mb-4">Choose your suitable plan</h3>
<form action="{% url 'selectPlan' %}" method="POST">
    {% csrf_token %}
    <div class="row mb-5">
        {% for plan in subscriptionPlan %}
        <div class="col-md-3 mb-3">
            <div class="card text-center">
                <h4 class="card-header">{{plan.planName}}</h4>
                <div class="card-body">
                    <span class="card-title" style="font-size: 3rem;">₹
                        {{plan.planMonthlyPrice}}</span><span>/monthly</span>
                    <ul class="list-group">
                        <li class="list-group-item d-flex align-items-center">
                            <i class='bx bx-check' style='color:#00c315'></i>
                            Bear claw cake biscuit
                        </li>
                        <li class="list-group-item d-flex align-items-center">
                            <i class='bx bx-check' style='color:#00c315'></i>
                            Bear claw cake biscuit
                        </li>
                    </ul>
                    <input class="form-check-input me-2" type="radio" name="planID" value="{{plan.planID}}" /> <span
                        style="color: black;font-size: 1rem;">Choose the Plan </span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <button class="btn btn-primary m-auto w-25" type="submit">Choose Plan</button>
</form>



{% endblock container %}